node_modules/
dist/
build/
.env
.vscode/
.idea/
.DS_Store/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/*.keystore
**/*.jks

# iOS
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Runner/GeneratedPluginRegistrant.*

# Firebase - NEVER commit these sensitive files
google-services.json
GoogleService-Info.plist

# Coverage
coverage/